<!-- app/views/users/_form.html.erb -->

<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="card border-danger">
      <div class="card-header bg-danger text-white">
        <%= pluralize(user.errors.count, "error") %>
        prohibited this user from being saved:
      </div>
      <div class="card-body">
        <ul class="mb-0">
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :user_phone_number,
    class: "form-control" %>
  </div>

  <div class="btn-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>