<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <span class="text-muted">Name:</span><%= @user.name %>
  </div>
  <div class="col-md-6">
    <span class="text-muted">Phone number:</span><%= @user.phone_number %>
  </div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>